.sidebar{
  background-color:whitesmoke;
  min-height: 100vh;
  max-width: 25vh;
  border-right:outset;
  border-color:black;
  border-width: 2px;  
}

.navbutton{
  color:black;
  text-decoration: none;
}



